{#

    /*
     * This file is part of Joosorol package.
     * 
     * (c) Joosorol <joosorol@gmail.com>
     * For the full copyright and license information, please view the LICENSE
     * file that was distributed with this source code.
     */
    
#}

<div>
    <div
        id="iakpress_root" 
        client-config="{{ params|json_encode }}"
    >
    </div>
</div>



